
#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

node_modules
src
rollup.config.js
.babelrc
.eslintrc.js
comand.txt
players.txt
.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.DS_Store
.npmrc
config.gypi
.vs
.vscode
README.html
test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.trix
.editorconfig
demo
webpack.config.js
.github
SECURITY.md